<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">{{ brand }}</a>
    <div class="d-flex">
      <a
        class="fa fa-shopping-cart fa-2x mx-2"
        style="color: gray"
        routerLink="/cart"
      >
        {{ counter | async }}
      </a>
      <a class="btn btn-outline-secondary mx-2" routerLink="/register">{{
        Register
      }}</a>
      <a class="btn btn-outline-secondary mx-2" routerLink="/login">{{
        Login
      }}</a>
    </div>
  </div>
</nav>
